<!DOCTYPE html>
<html lang="en">

<head>
  <title>WTF - <%= poll.name %>
  </title>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" style="height:16px; width:16px;" href="http://cultofthepartyparrot.com/parrots/parrot.gif" />
  <!-- Bootstrap meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- External Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,900" rel="stylesheet">
  <!-- JS and JQuery -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  <header>
    <% include ./partials/headerbutton %>
  </header>
  <main class="container">
    <section id="polladmin">
       <h1 id="pollname"><%= poll.name %></h1>
       <p class="intro">Below are the options you created and the scores so far, the higher the score, the more people liked that option! As votes come in, the scores will climb and the options will re-arrange to show the top choices first.
          <br/>Use the Share URL below to keep those votes coming in!
        </p>
        <h2 align="center">Share URL: http://127.0.0.1:8080/<%= poll.shareurl_random_key %></h2>
        <% poll.adminScores.forEach(function(option) { %>
          <% if (option.option !== '') { %>
            <div class="card">
              <div class="card-body">
                <span class="option"><%= option.option %></span> <span class="option-desc"><%= option.option_desc%></span><span align="right" class="badge badge-primary badge-pill"><%= option.score %></span>
              </div>
            </div>
          <% }%>
            <% }) %>
    </section>
  </main>
</body>

</html>
